
<head>

  <meta charset="UTF-8">

  <title>Markdown-Calendar</title>

    <link rel="stylesheet" href="/assets/css/style.css">
	
    <script src="/assets/js/prefixfree.min.js"></script>

</head>

<body>

  <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>UT<span>Bootcamp</span></div>
		</div>
		<br>
		<div class="login">
				<!-- username and password are display: none -->
				<input type="text" placeholder="username" name="user"><br>
				<input type="password" placeholder="password" name="password"><br>
				<input type="button" value="Github Login">
		</div>
<script
  src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
 
</body>

